.top {
    border: outset;
    background-color: rgb(250, 250, 250);
}

.box {
  
    border: groove;
}

.custom-box {
    background-color: #e8e9eb;
   border: groove;

}


.email {
    border: groove;
}

.phone {
    border: groove;
}

.mobile {
    border: groove;
}

.address {
    border: groove;
}